<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="menu tabs is-info">
        <div class="content ">
            <h1>S.A Web Hosting</h1>
        </div>
        <div class="buttons">
            <button class="button is-link">HOME</button>
            <button class="button is-link">My Acc</button>
            <button class="button is-link">Pricing</button>
        </div>
    </div>

    {{{body}}}
    <div class="foote">
        <footer class="columns">
            <div style="text-align: center;" class="column">
                <h1>About us</h1>
                <p style="font-family: monospace;">We are a startup small company based in South Africa, Gauteng. We use the latest tech stack to meet
                    the needs of our clients, We also use 3rd party services from other companies to provide good user
                    experience to our customers.</p>
            </div>
            <div class="column">
                <p style="text-align: center;">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <br>
                    South Africa, Gauteng, Johhanesburg, soweto
                </p>
                <p style="text-align: center;">Contact us at: email address</p>
            </div>
        </footer>
        <div class="just" style="text-align: center;">
            <p>@2021 S.A Web Hosting.</p>
        </div>
        <br> <br> 
    </div>
</body>

</html>