<link rel="stylesheet" href="/css/index.css">
<div class="container">
    <div class="columns">
        <div class="column texts is-medium">
            <h1>The best wordpress Hosting service</h1> <br>
            <a href="#about_us" class="button">About Us</a>
        </div>
        <div class="column bg">
        </div>
    </div>
    <div class="container center">
        <span class="icon-text has-text-white">
            <span class="icon  is-large">
                <i class="fas fa-caret-down fa-2x"></i>
            </span>
            <!--<span>More</span>-->
        </span>
    </div> <br> <br> <br> <br>
    <div class="container body is-large">
        <h1 id="about_us">About us</h1>
        <div class="container">
            <p>We are a startup small company based in South Africa, Gauteng. We use the latest tech stack to meet the needs of our clients, We also use 3rd party services from other companies to provide good user experience to our customers.</p>
        </div>
    <br> <br> <br>
     <h1 id="about_uss">What We Offer</h1> <br> <br>
        <div class="columns boxes">
            <div class="column box">
                <h1 style="text-align: center;font-weight: bold;">Starter Plan</h1> <br> <br>
                <p id="price">Price : R210 / monthly</p> <br>
                <ul>
                    <li> One sub Domain Name</li>
                    <li>10 SSD</li>
                    <li>One Free SSL certificate</li>
                    <li>Monthly Backup</li>
                    <li>One Website</li>
                </ul>
                <br>
                <a href="/plan/1" class="button">Subscribe</a>
                <br> <br>
            </div>
             <div class="column box ">
                <h1 style="text-align: center;font-weight: bold;">Small Business Plan</h1> <br> <br>
                <p id="price">Price : R400 / monthly</p> <br> 
                <ul>
                    <li>  Two sub Domain Name</li>
                    <li>20 SSD</li>
                    <li>Free SSL certificate</li>
                    <li>Monthly Backup</li>
                    <li>99.9% Uptime</li>
                    <li>24/7 Support</li>
                </ul>
                <br>
                  <a href="/plan/2" class="button">Subscribe</a>
                  <br> <br>
            </div>
        </div>
        <br> <br> <br>
    </div>
    <div class="container">
        <h1 id="about_uss">Why Choose Us</h1>
        <p>We only supply wordpress hostimg. WordPress is the simplest, most popular way to create your own website or blog. In fact, WordPress powers over 40.0% of all the websites on the Internet. Yes – more than one in four websites that you visit are likely powered by WordPress. </p>
    </div>
    <br> <br>
</div>