<link rel="stylesheet" href="/css/login.css">
<div class="container spaced">
    <form action="">
        <h1>Sign Up form</h1> <br>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="user name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user-alt"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Skills">
                <span class="icon is-small is-left">
                    <i class="fas fa-award"></i>
                </span>
            </p>
        </div>
         <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Profession">
                <span class="icon is-small is-left">
                   <!-- <i class="fas fa-award"></i> -->
                </span>
            </p>
        </div>
        <div class="field" style="display: flex; gap: 20px;">
            <p class="control">
                <button class="button is-success">
                    Sign up
                </button>
            </p>
            <p class="control">
                <button class="button is-info">
                    Log in
                </button>
            </p>
        </div>
    </form> <br> <br> <br>
</div>